PORT=5000
MONGO_URI=mongodb://localhost:27017/pizza-dome
RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXXXX
RAZORPAY_KEY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
